.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 20px;
  box-shadow: 1px 1px 6px 0 #9e9e9e;
}

.sidebar > div:not(:last-child) {
  border-bottom: 1px solid black;
}
.sidebar p {
  word-break: break-all;
}

.sidebar__img,
.sidebar__name {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.sidebar__name {
  flex-direction: column;
}

.sidebar__name > p {
  margin: 0;
}
